DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=
IMAGE_TAG=latest

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

API_BASE_URL=
API_PREFIX=/api/v1
DATABASE_URL=postgresql://jmv:jmv_pass@localhost:5432/jmv_db
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_PHONE=

# Admin
NEXT_PUBLIC_API_BASE_URL=